html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #c7ccd3;

  /* background-size: cover; */

  /* -webkit-transform: rotate(90deg);
  /* transform: rotate(30deg); */
}

/* #d3e3ef; */
