.mainheader {
  display: flex;
  justify-content: flex-start;
  margin-left: 13px;
}
.navbar {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 13px;
}

.searchbar {
  display: flex;
  justify-content: flex-start;
  margin: 13px;
}

.portal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#signuplink {
  border: 1px solid #fac999;
  border-radius: 8px;
  padding: 13px;
  padding-left: 43px;
  padding-right: 43px;
  text-decoration: none;
  color: #6f988b;
  background-color: #fac999;
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 310px;
  margin-right: 310px;
}

#login {
  border: 1px solid #fac999;
  border-radius: 8px;
  padding: 13px;
  padding-left: 43px;
  padding-right: 43px;
  text-decoration: none;
  color: #6f988b;
  background-color: #fac999;
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 310px;
  margin-right: 310px;
}
