.dashContainer {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  background-color: #c7ccd3;
  font-family: "Itim", cursive;
}

.dash-header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeecf3;
}

.dashFeed {
  margin-left: 3%;
}

.dash-navbar {
  width: 200px;
  height: auto;
  display: flex;
  flex-flow: row;
  flex: auto;
  justify-content: flex-end;
}

.posting-navbar {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3%;
}

.home_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

.userAct_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

#h2 {
  font-family: "Itim", cursive;
  color: #a54811;
}

.explore_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

.account_nav {
  width: 60px;
  background: transparent;
  margin-right: 6px;
}

.mainDash {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.radarArea {
  width: 20%;
  height: 500px;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  border: 1px solid #a54811;
  margin: 1%;
}

.postCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#postImg {
  justify-content: center;
}

#logoutBtn {
  width: 103px;
  height: 12%;
  border: 1px solid #fac999;
  border-radius: 3px;
  padding: 10px;
  background-color: #d3b3b8;
  font-family: "Itim", cursive;
}

.followButton {
  width: 20px;
  height: 24px;
  font-size: 15px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}

#radarImg {
  margin: 2%;
  width: 83%;
  height: 80%;
}
.postCont {
  display: grid;
  grid-template-columns: 10% 50% 10%;
  grid-template-rows: 15% 10% 80%;
  height: 400px;
  width: 600px;
  justify-content: center;
  justify-items: center;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.postContent {
  grid-column: 2;
  grid-row: 2/3;
  padding-bottom: 10px;
}
.imgPost {
  grid-column: 2;
  grid-row: 3/3;
  align-items: center;
  width: auto;
  height: auto;
}

.renderedPosts {
  display: grid;
  justify-content: center;
}
