.userHeader {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeecf3;
}

.profileNavLink {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #3b4834;
  font-size: 18px;
}
.profile-navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
}
.navLinks {
  margin: 3%;
  padding: 3%;
}

/*
.dash-navbar {
  width: 200px;
  height: auto;
  display: flex;
  flex-flow: row;
  flex: auto;
  justify-content: flex-end;
}

.posting-navbar {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3%;
}

.home_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
} */

/* .userAct_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
} */

#h2 {
  font-family: "Itim", cursive;
  color: #a54811;
}
/*
.explore_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

.account_nav {
  width: 60px;
  background: transparent;
  margin-right: 6px;
} */

/* whole dashboard minus header  */
/* .mainDash {
  display: flex;
  flex-direction: column;
  align-content: space-between;
} */

.radarArea {
  width: 20%;
  height: 500px;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  border: 1px solid #a54811;
  margin: 1%;
}

#logoutBtn {
  border: 1px solid #fac999;
  border-radius: 3px;
  padding: 10px;
  margin-right: 2%;
  background-color: #d3b3b8;
  font-family: "Itim", cursive;
}

.followButton {
  width: 20px;
  height: 24px;
  font-size: 15px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}

#radarImg {
  margin: 2%;
  width: 83%;
  height: 80%;
}

.userImgPostCont {
  display: grid;
  grid-template-columns: 10% 60% 10%;
  grid-template-rows: 10% 75% 15%;
  height: 375px;
  width: 400px;
  justify-content: center;
  justify-items: center;
  border: 1px solid #ececec;
  background: white;
  border-radius: 2px;
  margin-bottom: 17px;
  padding-bottom: 10px;

  grid-template-areas:
    " username . .  "
    " . image . "
    " text text . ";
}
/* post container  */

.userPostCont {
  display: grid;
  grid-template-columns: 10% 60% 10%;
  grid-template-rows: 10% 75% 15%;
  height: 200px;
  width: 400px;
  justify-content: center;
  justify-items: center;

  border: 1px solid #ececec;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 17px;
  padding-bottom: 10px;

  grid-template-areas:
    " . . .  "
    " . text . "
    " . . . ";
}

/* .postCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
} */

/* post text  */

.userPostContent {
  grid-area: text;
  padding: 10px;
  margin-top: 6%;
}
.userName {
  grid-area: username;
}
/* actual image */
#userPostImg {
  justify-content: center;
  height: 325px;
  width: 350px;
  object-fit: cover;
}

/* img div */
.userImgPost {
  grid-area: image;
  align-items: center;
  width: auto;
  height: auto;
  object-fit: cover;
  padding-bottom: 10px;
  margin: 2%;
}

.userRenderedPosts {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row-reverse;
  align-items: baseline;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 9%;
}
