html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f9f9f9
    url("https://images.unsplash.com/photo-1515595967223-f9fa59af5a3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")
    fixed no-repeat bottom right;

  position: absolute;
  image-resolution: from-image;

  /* background-size: auto; */

  /* -webkit-transform: rotate(90deg);
  /* transform: rotate(30deg); */
}

/* #d3e3ef; */
