.main-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* bottom: 0; */
  background: url("https://images.unsplash.com/photo-1517281536787-64da0f143962?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=682&q=80")
    no-repeat center;
  /* background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.portal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.signupPage{
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* bottom: 0; */
  background: url("https://images.unsplash.com/photo-1508614926468-0edcb8dd60f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat center;
  /* background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.loginPage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* bottom: 0; */
  background: url("https://images.unsplash.com/photo-1534099946341-34fe5ef39eef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat center;
  /* background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Chonburi", cursive;
  font-size: 56px;
  font-weight: bolder;
}

.signup {
  margin-left: auto;
  margin-right: auto;
  width: 303px;
  height: 12%;
  border: 1px solid #fac999;
  border-radius: 6px;
  padding: 13px;
  padding-left: 43px;
  padding-right: 43px;
  background-color: #d3b3b8;
  font-family: "Itim", cursive;
}

#signuplink {
  text-decoration: none;
  color: #3b4834;
  font-size: 20px;
}

/* --------- */

.signupContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#signupBtn {
  width: 263px;
  height: 23px;
  padding: 13px;
  padding-left: 43px;
  padding-right: 43px;
  background-color: #eeecf3;
  font-family: "Itim", cursive;
  display: inline-block;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
}

#submitBtn {
  margin-top: 13px;
  width: 346px;
  padding-left: 43px;
  padding-right: 43px;
  padding: 12px;
  font-family: "Itim", cursive;
  font-size: 23px;
  background-color: #d3b3b8;
  color: #eeecf3;
  border-radius: 1px
  -webkit-appearance: none;
}

.signupForms {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
}
