.dash-header {
  height: 15%;
  display: grid;
  align-items: center;
  grid-template-columns: 35% 25% 40%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas:
    ". . . "
    "leftside . rightside"
    ". . . ";

  border-bottom: 1px solid #eeecf3;
}

#leftside {
  grid-area: leftside;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  margin-left: 1%;
  grid-template-areas: "logo search ";
  justify-content: space-around;
}

#rightside {
  grid-area: rightside;
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}

.backBtn {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #3b4834;
  font-size: 18px;
  width: 20px;
}

.dash-navbar {
  width: 200px;
  height: auto;
  display: flex;
  flex-flow: row;
  flex: auto;
  justify-content: flex-end;
  align-items: baseline;
}

.newPostBtn {
  width: 100px;
  height: 30px;
  box-sizing: content-box;
  margin: 5px;
}

#newtextBtn {
  width: 500px;
  height: 80px;
  box-sizing: content-box;
}
.home_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

.userAct_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

.explore_nav {
  width: 60px;
  background: transparent;
  margin-right: 3px;
}

.account_nav {
  width: 60px;
  background: transparent;
  margin-right: 6px;
}
.dash-nav-icon {
  width: 50px;
  height: 50px;
  margin: 3%;
  object-fit: contain;
  border: none;
  border-color: transparent;
  text-decoration: none;
  font-size: 1rem;
}
.nav-icon-img {
  width: 60px;
  height: 60px;
  margin: 3%;
  object-fit: contain;
  border: none;
  border-color: transparent;
  text-decoration: none;
  font-size: 1rem;
}

.logo_pic {
  grid-area: logo;
  width: 90px;
  height: 90px;
}

.searchbar {
  grid-area: searchbar;
  color: rgb(36%, 48%, 39%);
  width: 460px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: rgb(231%, 205%, 190%);
  opacity: 0.4;
}

.searchArea {
  display: flex;
  align-self: center;
}
