.profile-header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeecf3;
}

.profileNavLink {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #3b4834;
  font-size: 18px;
}

.profile-navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
}

.navLinks {
  margin: 3%;
  padding: 3%;
}

#profile-header {
}

#h2 {
  font-family: "Itim", cursive;
  color: #a54811;
}

#blogname {
  text-decoration: none;
  color: #8a3f1f;
  margin-left: auto;
  margin-right: auto;
}

.userProfilePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userImgPostCont {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 7% 70% 15%;
  height: auto;
  max-width: 100%;
  width: 40%;
  justify-content: center;
  background: white;
  align-content: center;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin-bottom: 17px;
  padding-bottom: 10px;
  margin: 2%;
  object-fit: contain;
  grid-template-areas:
    " username username  "
    " image image  "
    " bottom bottom ";
}
/* post container  */

.userPostCont {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 7% 70% 15%;
  height: auto;
  max-width: 100%;
  width: 450px;
  justify-content: flex-start;
  justify-items: center;
  border: 1px solid #ececec;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 17px;
  padding-bottom: 10px;
  margin: 2%;

  grid-template-areas:
    " username .  .  "
    " . text . "
    " . . . ";
}

/* .postCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
} */

/* post text  */

.userPostContent {
  grid-area: bottom;
  padding: 10px;
  margin-top: 3%;
  color: #8a3f1f;
  margin: 3%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.userPostsDisplay {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
}

.postUserName {
  grid-area: username;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

/* actual image */
#userPostImg {
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-left: 10%;
  margin-right: 10%;
}

/* img div */
.userImgPost {
  grid-area: image;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 90%;
  object-fit: cover;
  padding-bottom: 10px;
  margin: 2%;
}

.userRenderedPosts {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row-reverse;
  align-items: baseline;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 9%;
}
